body {
    background-color: #48706a;
opacity: 1;
background-image:  linear-gradient(135deg, #222726 25%, transparent 25%), linear-gradient(225deg, #222726 25%, transparent 25%), linear-gradient(45deg, #222726 25%, transparent 25%), linear-gradient(315deg, #222726 25%, #41685b 25%);
background-position:  28px 0, 28px 0, 0 0, 0 0;
background-size: 56px 56px;
background-repeat: repeat;
    color: #cecccc;
  }